adrf==0.1.9
asgiref==3.9.1
async-property==0.2.2
attrs==25.3.0
click==8.2.2
colorama==0.4.6
django==5.2.6
djangorestframework==3.16.1
drf-spectacular==0.28.0
h11==0.16.0
inflection==0.5.1
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
pip==25.2
psycopg2==2.9.10
pyyaml==6.0.2
referencing==0.36.2
rpds-py==0.27.1
sqlparse==0.5.3
tzdata==2025.2
uritemplate==4.2.0
uvicorn==0.35.0
requests==2.32.5
gevent==24.11.1
gunicorn==23.0.0
python-dotenv==1.1.1
certifi==2025.8.3
charset-normalizer==3.4.3
idna==3.10
urllib3==2.5.0